<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
    <div class="login">
        <h1>Object Detection From Aerial View</h1>
        <form action="predict_object"method="post">
            <input type="text" name="image" placeholder="Path Of Image" required="required"/>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

    </div>
    <img src="https://github.com/dev-codes1m/Object-Detection-From-Aerial-View-From-Base-Using-Transfer-Learing/blob/cc6ae5197cb082d3fec363a0384c05d292e6090b/Uploads/Final_result.jpg" alt="Predicted Image" width="720" height="1080">

</body>
</html>
