<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
    <div class="login">
        <h1>Object Detection From Aerial View</h1>
        <form action="{{url_for('predict_object')}}"methods="POST">
            <input type="text" name="Path of Image" placeholder="Path Of Image" required="required"/>  
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <h3 class="Image">Prediction</h3>
    </div>

</body>
</html>